<ion-view view-title="Login">
    <ion-content>
     <form name='loginForm' novalidate>
      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="login.loginData.email" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="login.loginData.password" ng-minlength="6" required>
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-disabled="loginForm.$invalid"  on-touch="login.login()">
          Log In
        </button>
      </div>
     </form>
      <div class="padding">
        <button class="button button-block button-stable" ng-click="login.go('register')">
          Register
        </button>
      </div>
    </ion-content>
</ion-view>

