<ion-view view-title="Login">
    <ion-content class='purple-bg'>
    <div class="text-center">
        <h1 class='padding'>Welcome to FluffMates!</h1>
        <h4>for the busy prospective pet owner</h4>
        <ul>
            <li>
                Search for pets in your area
            </li>
            <li>
                Pick your three faves
            </li>
            <li>
                We hand-deliver them to you
            </li>
            <li class='bold'>
                Choose your new pet and love it forever!
            </li>
        </ul>
        <div>
            <i class="ion-ios-paw-outline main-paw"></i>
        </div>
    </div>

  <h4 class='pets-search-error text-center'>{{ login.message.error }}</h4>

     <form name='loginForm' novalidate>
      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="login.loginData.email" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="login.loginData.password" ng-minlength="6" required>
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-royal" ng-disabled="loginForm.$invalid" on-tap="login.login()">
          Log In
        </button>
      </div>
     </form>
      <div class="padding">
        <button class="button button-block link-button" on-tap="login.go('register')">
          Register
        </button>
      </div>
    </ion-content>
</ion-view>
