<ion-modal-view>
    <ion-content>
       <div class="list card padding" ng-class="{ 'chosen-pet': pets.showPet.chosen }">
        <i class="ion-chevron-down close-modal" on-touch="pets.closeModal()"></i>
            <h2 class="center">{{pets.showPet.name.$t}}</h2>

            <div class="item item-text-wrap" ng-repeat="photo in pets.showPet.media.photos.photo | filter: { '@size': 'pn' } : true">
                <img class="pet-main-image" src="{{photo.$t}}" alt="">
            </div>
            <div class='item item-text-wrap'>
                <p class='text-center'>{{ pets.showPet.description.$t }}</p>
            </div>

            <button ng-show="!pets.showPet.chosen" class="button button-block button-royal" on-tap="pets.choosePet(pets.showPet)">Add to List</button>

            <button ng-show="pets.showPet.chosen" class="button button-block button-assertive" on-touch="pets.choosePet(pets.showPet)">Remove from List</button>
        </div>
    </ion-content>
</ion-modal-view>