<ion-view view-title="Search">
  <ion-content class="padding purple-bg">
    <form name="searchForm" novalidate>
      <div class="list card title-div">
          <h2 class='center search-title'>Find Pets Near You!</h2>
      </div>
          <h4 class='center'>Select type:</h4>
      <ion-radio ng-model="search.data.animal" value='cat'>Cats</ion-radio>
      <ion-radio ng-model="search.data.animal" value="dog">Dogs</ion-radio>
      <ion-radio ng-model="search.data.animal" value="bird">Birds</ion-radio>
      <ion-radio ng-model="search.data.animal" value="smallfurry">Small Furry Animals</ion-radio>
      <ion-radio ng-model="search.data.animal" value="reptile">Reptiles</ion-radio>
      <ion-radio ng-model="search.data.animal" value="horse">Horses</ion-radio>
      <ion-radio ng-model="search.data.animal" value="pig">Pigs</ion-radio>
      <ion-radio ng-model="search.data.animal" value="barnyard">Barnyard Animals</ion-radio>

      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">Zip code</span>
          <input ng-minlength="5" ng-maxlength='5' ng-model='search.data.zipCode' type="text" ng-value="{{search.user.zip_code}}" required>
        </label>
      </div>

      <button class="button button-block button-royal" ng-disabled="searchForm.$invalid" on-touch="search.sendSearch()">Search</button>
    </form>
  </ion-content>
</ion-view>
