<ion-view view-title="Search">
  <ion-content class="padding">
    <h2>Find Pets Near You!</h2>
    Select type:
    <ion-radio ng-model="search.data.animal" value='cat'>Cats</ion-radio>
    <ion-radio ng-model="search.data.animal" value="dog">Dogs</ion-radio>
    <ion-radio ng-model="search.data.animal" value="bird">Birds</ion-radio>
    <ion-radio ng-model="search.data.animal" value="smallfurry">Small Furry Animals</ion-radio>
    <ion-radio ng-model="search.data.animal" value="reptile">Reptiles</ion-radio>
    <ion-radio ng-model="search.data.animal" value="horse">Horses</ion-radio>
    <ion-radio ng-model="search.data.animal" value="pig">Pigs</ion-radio>
    <ion-radio ng-model="search.data.animal" value="barnyard">Barnyard Animals</ion-radio>

    <div class="item item-input-inset">
      <label class="item item-input">
          <span class="input-label">Zip code</span>
          <input type="tel" ng-model="search.data.zipCode" ng-required="true" ng-minlength="5">
      </label>
      <button class="button" ng-click="search.sendSearch()">Search</button>
      {{search.data}}
   </div>
  </ion-content>
</ion-view>
