<ion-view view-title="Account">
  <ion-content class='purple-bg'>
  <div class="list card padding">
    <h3 class="center">Account Info</h3>
    <div class="item item-text-wrap">
      Name: {{ account.user.name }}
    </div>
    <div class="item item-text-wrap">
      Email: {{ account.user.email }}
    </div>
    <div class="item item-text-wrap">
      Address: {{ account.user.address }} <br> {{ account.user.city }}, {{ account.user.state }} {{ account.user.zip_code }}
    </div>
  <button class="button button-block button-stable" on-touch="account.editModal(account.user)">Edit Info</button>
  </div>

  <div ng-if="account.chosenPets[0]" class="list card padding">
    <h3 class="center">Potential Future Fur Babies</h3>
    <div class="list padding">
        <div ng-repeat="pet in account.chosenPets" class="item item-thumbnail-left title-div">
           <img class='pet-main-image' ng-src="{{pet.img}}" alt="">
           <h2 class='pet-name'> {{ pet.name }} </h2>
           <i class="ion-close-circled" on-touch="account.removePet(pet)"></i>
        </div>
    </div>
  </div>
    <div class="padding">
        <button ng-show="account.chosenPets[0]" class="button button-block button-royal" on-touch="account.sendPetsPopup()">
          Send me the pets!
        </button>
    </div>

    <div class="padding">
        <button class="button button-block button-calm" on-touch="account.logout()">
          Log Out
        </button>
    </div>
  </ion-content>
</ion-view>
