/* Empty. Add your own CSS if you like */
.chosen-pet {
  border: red solid 3px;
}

.close-modal {
    float: right;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 1.5em;
}

.ion-close-circled {
    color: red;
    float: right;
    font-size: 2em;
    margin-top: 4%;
}
