/* Empty. Add your own CSS if you like */

.chosen-pet {
  border: #ff00f5 solid 3px;
}

.close-modal {
    float: right;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 1.5em;
}

.close-chosen-modal {
    float: right;
    padding-right: 10px;
    font-size: 1.5em;
}

.open-modal {
    display: inline-block;
    float: right;
    
}

.ion-close-circled {
    color: red;
    float: right;
    font-size: 2em;
    margin-top: 4%;
}

.center {
    text-align: center;
}

.padding: {
    padding-top: 5px;
    padding-bottom: -5px;
}
