/*general styling*/
body {
    color: #818181;
}

h1, h2, h3, h4 {
    color: #886aea;
}

.center {
    text-align: center;
}

.padding {
    padding-top: 5px;
    padding-bottom: -5px;
}

/*border for chosen pets*/
.chosen-pet {
  border: #ff00f5 solid 3px;
}

/*modals*/
.close-modal {
    float: right;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 1.5em;
}

.close-chosen-modal {
    float: right;
    padding-right: 10px;
    font-size: 1.5em;
}

.open-modal {
    display: inline-block;
    float: right;
}

/*delete chosen pet icon*/
.ion-close-circled {
    color: red;
    float: right;
    font-size: 2em;
    margin-top: 4%;
}

/* errors */
.no-search-results {
    margin: 70vh 20px auto 20px;
    background-color: rgba(244, 244, 244, 0.52);
    border-radius: 5px;
    padding: 10px;
}

.no-search-results h4 {
    color: #cecece;
}

.pets-search-error {
    color: #ff6262;
}

.search-title {
    padding: 10px;
}

.title-div, .link-button {
    background-color: rgb(241, 237, 255);
}

.purple-bg {
    background-color: rgb(232, 225, 255);
}


.main-paw {
    padding-top: 20%;
    font-size: 9em;
    color: rgba(136, 106, 234, 0.52);
}

.bold {
    font-weight: bold;
}

.popup-paw {
    color: rgba(136, 106, 234, 0.52);
    font-size: 2em;
    margin-bottom: 3px;
}

.container-popup {
    margin: 4px;
    border-radius: 5px;
    padding: 9px;
    height: auto;
}
